body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9b76d;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    color: #131010;
    margin: 10px 0;
}

.header p {
    font-size: 18px;
    color: #666;
    margin: 0;
}

.profile-pic {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

.contact-details {
    margin-top: 20px;
}

.skills {
    margin-top: 30px;
}

.skills h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills li {
    margin-bottom: 5px;
}

.section-heading {
    font-size: 24px;
    color: #333;
    margin-top: 30px;
}

.section-content {
    margin-top: 20px;
}

.footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #666;
}